[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/delmitmate"]
	path = .vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/vim-scripts/SuperTab.git
